body {
    background-color: #fdfafd;
    color: #270625;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background-color: #822480;
}

.nav-link,
.navbar-brand {
    color: #ffffff !important;
}

.nav-link.active {
    font-weight: bold;
    color: #bf5fbc !important;
}

h4 {
    color: #551454;
}

input.form-control:focus {
    border-color: #ae34aa;
    box-shadow: 0 0 0 0.2rem rgba(190, 95, 188, 0.25);
}

.btn-success {
    background-color: #ae34aa;
    border-color: #ae34aa;
}

.btn-success:hover {
    background-color: #bf5fbc;
    border-color: #bf5fbc;
}

.btn-danger {
    background-color: #551454;
    border-color: #551454;
}

.btn-danger:hover {
    background-color: #822480;
    border-color: #822480;
}

footer {
    border-top: 1px solid #ae34aa;
    color: #551454;
}

.navbar {
    background-color: #ae34aa;
}

.nav-link,
.navbar-brand {
    color: #ffffff !important;
}

.nav-link.active {
    font-weight: bold;
    color: #bf5fbc !important;
}

h2 {
    color: #551454;
}

#toggle-btn {
    color: #ae34aa;
    border-color: #ae34aa;
}

#toggle-btn:hover {
    background-color: #ae34aa;
    color: white;
}

.table thead {
    background-color: #bf5fbc;
    color: white;
}

.table tbody tr:hover {
    background-color: #f3e6f4;
}

footer {
    border-top: 1px solid #822480;
    color: #551454;
}

.navbar.navbar-dark {
    background-color: #bf5fbc !important; /* cambia según la página */
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #ffffff !important;
}

.navbar .nav-link.active {
    color: #551454 !important;
    font-weight: bold;
}




/* 

#270625

#551454

#822480

#ae34aa

#bf5fbc





 */

