body {
    background-color: #fdfafd;
    color: #270625;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background-color: #ae34aa;
}

.nav-link,
.navbar-brand {
    color: #ffffff !important;
}

.nav-link.active {
    font-weight: bold;
    color: #bf5fbc !important;
}

h2 {
    color: #551454;
}

#toggle-btn {
    color: #ae34aa;
    border-color: #ae34aa;
}

#toggle-btn:hover {
    background-color: #ae34aa;
    color: white;
}

.table thead {
    background-color: #bf5fbc;
    color: white;
}

.table tbody tr:hover {
    background-color: #f3e6f4;
}

footer {
    border-top: 1px solid #822480;
    color: #551454;
}

.navbar.navbar-dark {
    background-color: #bf5fbc !important; 
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #ffffff !important;
}

.navbar .nav-link.active {
    color: #551454 !important;
    font-weight: bold;
}
