body {
    background-color: #fdfafd;
    color: #270625;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background-color: #ae34aa;
}

.nav-link,
.navbar-brand {
    color: #ffffff !important;
}

.nav-link.active {
    font-weight: bold;
    color: #bf5fbc !important;
}

h2 {
    color: #551454;
}

#toggle-btn {
    color: #ae34aa;
    border-color: #ae34aa;
}

#toggle-btn:hover {
    background-color: #ae34aa;
    color: white;
}

.table thead {
    background-color: #bf5fbc;
    color: white;
}

.table tbody tr:hover {
    background-color: #f3e6f4;
}

footer {
    border-top: 1px solid #822480;
    color: #551454;
}

.navbar.navbar-dark {
    background-color: #bf5fbc !important; 
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #ffffff !important;
}

.navbar .nav-link.active {
    color: #551454 !important;
    font-weight: bold;
}

.custom-table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.table-header {
    background-color: #bf5fbc;
    color: #fff;
    text-align: center;
}

.custom-table th,
.custom-table td {
    padding: 1rem;
    vertical-align: middle;
    border-color: #e6cfee;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f9f1fa;
}

.custom-table tbody tr:hover {
    background-color: #f0dff3;
    transition: background-color 0.3s ease;
}

.btn-outline-primary {
    border-color: #ae34aa;
    color: #ae34aa;
}

.btn-outline-primary:hover {
    background-color: #ae34aa;
    color: white;
}
